@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-x: none;
    scroll-behavior: smooth;
}

html {
    font-size: 14px;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}
@layer utilities {
    .background-overlay {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: transparent;
        background-image: linear-gradient(180deg, #03030a 0%, #00000024 100%);
        opacity: 1;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
        object-fit: cover;
    }
    .banner-description {
    }
}

