@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-x: none;
    scroll-behavior: smooth;
}

html {
    line-height: 1.5;
}

.tab {
    color: #6a7f8e;
    text-decoration: none;
}

::selection {
    background: #03242f;
    color: #ffffff !important;
}

@media (max-width: 1199px) {
    html {
        font-size: 12px;
    }
}
@media (min-width: 1200px) {
    html {
        font-size: 14px;
    }
}
@media (min-width: 1600px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1920px) {
    html {
        font-size: 18px;
    }
}
@media (min-width: 2560px) {
    html {
        font-size: 24px;
    }
}
@layer utilities {
    .banner-background-overlay-top {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: transparent;
        background-image: linear-gradient(180deg, #03030a 0%, #00000003 80%);
        opacity: 1;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
        object-fit: cover;
    }
    .banner-background-overlay-bottom {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: transparent;
        background-image: linear-gradient(0deg, #03030a 0%, #00000003 80%);
        opacity: 1;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
        object-fit: cover;
    }
    .btn:hover {
        transition-timing-function: ease-in-out;
        transform: translate3d(0, -2px, 0);
        transition-delay: 200ms;
    }
    .bg-gradient-yellow {
        background: linear-gradient(rgb(248, 209, 47) 0%, rgb(240, 185, 11) 99.77%);
    }
    .bg-gradient-pink {
        background: linear-gradient(135deg, rgb(151, 96, 189) 0%, rgb(77, 214, 203) 100%);
    }
    .bg-gradient-green {
        background: linear-gradient(rgb(47, 250, 161) 0%, rgb(73, 240, 230) 100%);
    }
    .border-color-gradient-green {
        border-color: linear-gradient(rgb(47, 250, 161) 0%, rgb(73, 240, 230) 100%);
    }
    .navbar {
        background: rgba(0, 0, 0, 0.8);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    @keyframes clockwiseSpin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .clockwiseSpin {
        animation-duration: 0.5s;
        animation-iteration-count: 0.5;
        animation-name: clockwiseSpin;
        animation-timing-function: linear;
    }

    @keyframes bounce {
        0% {
            transform: scale(0.9);
        }
        100% {
            transform: scale(1.1);
        }
    }
    @keyframes mover {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-1rem);
        }
    }

    .sectionImageAnimation {
        animation: bounce 0.8s alternate infinite ease-in;
    }
    .sectionImageAnimation2 {
        animation: mover 0.6s alternate infinite ease-in;
    }
}

